<%= render 'nav' %>

<div id="left_bar">
  <h2>Early Life</h2>
  <p>I have always been in love with technology. As soon as I was able to sit on the computer chair and reach the mouse I was doing something with the computer. I remember playing Commander Keen which was on an 8 inch floppy disk. As I grew older my love for technology grew as well. I built my first desktop when I was 13 with no hardware experience, but wanted to do it so bad I just ordered all the parts I thought I would need and started putting pieces together like Legos.</p>
</div>

<div id="center_bar">
  <h2>Teenage Years</h2>
  <p></p>
</div>

<div id="right_bar">
  <h2>Current Life</h2>
  <p></p>
</div>