div#left_bar {
  margin-left: 50px;
  margin-top: 25px;
  height: 400px;
  width: 250px;
  background: #0A4958;
  border-radius: 10px;
  box-shadow: -10px 10px 15px #01B6AD;
}

div#left_bar h2 {
  padding-top: 10px;
  text-align: center;
  color: white;
}